<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.angelruiz.disma">

    <uses-permission android:name="android.permission.INTERNET"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="Dismat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screen"
            android:label="Dismat"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menus"
            android:label="@string/title_activity_menu"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".discal"/>
        <activity android:name=".deta"/>
        <activity
            android:name=".n1"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".n2"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".n3"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".num1"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".num2"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".num3"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".num4"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".num5"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".num6"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".num7"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".num8"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".num9"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".num10"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn1"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn2"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn3"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn4"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn5"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn6"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn7"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn8"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn9"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn10"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn30"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn20"
            android:screenOrientation="landscape"/>
        <activity android:name=".examen"/>
        <activity
            android:name=".pn31"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn32"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn21"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn22"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn23"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".pn24"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Registro1"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Sesion" android:theme="@style/Theme.Transparent"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Login1"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".alertperso6"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".alertperso7"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".alertperso8"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".MensajePerso"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".num1_mensaje" android:theme="@style/Theme.Transparent"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Felis" android:theme="@style/Theme.Transparent"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>